@import 'var.scss';

:host {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;


    div {
        margin-bottom: 5px;
    }

    app-hide-panel-popup {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 250%;
        transform: translate(-105%, calc(100% - 30px));
    }
}

// RWD
@media screen and (min-width: 1280px) {}