#gift-mag-box {
    .item-wrapper {
        position: relative;
        display: inline-block;
        padding: 3px 10px;
        color: #fff;
        background-color: rgba(0, 0, 0, 0.2);
        border-radius: 5px;
        line-height: 14px;

        * {
            display: inline-block;
            font-size: 12px;
            vertical-align: middle;
        }

        .name {
            font-weight: bold;
            color: rgb(199, 199, 199);
            margin: 0 6px;
            text-shadow: 1px 1px 2px #3b3b3b;
        }

        .vip {
            line-height: 12px;
        }

        .gift-msg {
            display: initial;
            line-height: 20px;

            .gift-icon {
                width: 24px;
                height: 24px;
                margin: -10px -4px -5px;
            }
        }
    }

    &.is-mobile {
        .item-wrapper {
            padding: 1px 5px;

            &.default {
                * {
                    font-size: 1.3vw;
                }

                .gift-msg {
                    line-height: 14px;

                    .gift-icon {
                        width: 20px;
                        height: 20px;
                        margin: -8px -4px -5px;
                    }
                }
            }
        }
    }
}