<section id="anchor-info"
         class="avatar_moon"
         appIsMobile
         [ngClass]="themeCode">
    <app-poke-panel *ngIf="isShowPoke"
                    [@pokePanelAnimation]></app-poke-panel>
    <img [src]="anchorAvatarUrl"
         (click)="toggleAnchorInfoPopup()">
    <div class="info"
         [ngClass]="{'like-anchor':!canLike}">
        <div class="first-floor">
            <span class="name">{{anchorName}}</span>
        </div>
        <div class="second-floor">
            <div class="count">
                <span class="like-count">
                    <mat-icon>account_circle</mat-icon>
                    <span>{{followCount}}</span>
                </span>
                <span class="popularity">
                    <mat-icon>stars</mat-icon>
                    <span>{{starValue}}</span>
                </span>
                <span class="like-count">
                    <mat-icon>account_circle</mat-icon>
                    <span>{{followCount}}</span>
                </span>
            </div>
        </div>
    </div>
    <button class="like-anchor"
            *ngIf="canLike"
            (click)="likeAnchor()">关注</button>
</section>