#in-processing {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: #040712;

    img {
        max-width: 100%;
    }
}